.container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-top: 2%;
}

@media only screen and (max-width: 958px) {
    .container {
        width: 85%;
    }
}

@media only screen and (max-width: 560px) {
    .container {
        width: 100%;
    }
}